.sgcreator-visualization {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}

/* FIRST APROX */
.box {
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
}

/* JUST FOR SAMPLE */
.ya-small-text {
  font-size: 12px;
}
.ya-base-text {
  font-size: 16px;
}
.ya-medium-text {
  font-size: 18px;
}
.ya-large-text {
  font-size: 20px;
}
.ya-xlarge-text {
  font-size: 22px;
}
.ya-xxlarge-text {
  font-size: 26px;
}
.ya-huge-text {
  font-size: 32px;
  font-weight: 900;
}
