/* VISUAL REPRESENTATION SECTION */
.sgcreator-visualization {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}

/* SAMPLE APROX */
.sgcreator-sample-box {
  margin: 5px 0;
  padding: 5px 0;
}

/* TAG BOX */
.sgcreator-tag-box {
  padding: 7px 9px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.1);
}

.sgcreator-sample-box_background {
  padding: 20px 0;
}

div[itemid="2"] .sgcreator-sample-box_background {
  background: rgba(0, 0, 0, 0.2);
}
