/* VISUAL REPRESENTATION SECTION */
.sgcreator-representation_section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}

/* VISUAL REPRESENTATION SECTION BOXES */
/* SAMPLE BOX */
.sgcreator-item-box {
  padding: 5px 0;
  background: mediumseagreen;
}

/* TAG BOX */
.sgcreator-tag-box {
  padding: 7px 9px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.1);
}

.sgcreator-sample-box {
  background: TOMATO;
}

.sgcreator-sample-box p {
  margin-bottom: 0;
}

.sgcreator-align-left {
  text-align: start;
}
