:root {
  /* COLORS */
  --color_main: #5c80bc;
  --color_secondary: #cdd1c4;
  --color_tertiary: #4d5061;
  --color_complementary: #e8c547;
  --color_desaturated: #30323d;
  --color_background: #fff;

  /* FONT FAMILIES */
  --header_font-family: Monospace, sans-serif;
  --text_font-family: Arial, sans-serif;
  /* FONT SIZES */
  --base_font-size: 16px;
  --h1_font-size: 32px;
}

/* TYPOGRAPHY */
.ya-small-text {
  font-size: calc(var(--base_font-size) - 4px);
}
.ya-base-text {
  font-size: var(--base_font-size);
}
.ya-medium-text {
  font-size: calc(var(--base_font-size) + 2px);
}
.ya-large-text {
  font-size: calc(var(--base_font-size) + 4px);
}
.ya-xlarge-text {
  font-size: calc(var(--base_font-size) + 6px);
}
.ya-xxlarge-text {
  font-size: calc(var(--base_font-size) + 8px);
}
.ya-huge-text {
  font-size: calc(var(--base_font-size) * 2);
}

/* BUTTONS */
.ya-button {
  text-decoration: none;
  padding: 12px 10px;
  border: 0.5px solid transparent;
  border-radius: 2px;
}
.ya-button:active {
  color: white;
}
.ya-button:hover {
  background: var(--color_desaturated);
  color: var(--color_background);
  cursor: pointer;
}

.ya-button_primary {
  color: var(--color_background);
  background: var(--color_main);
}
.ya-button_secondary {
  color: var(--color_main);
  background: var(--color_background);
  border-color: var(--color_desaturated);
}
.ya-button_inverted-block {
  color: var(--color_main);
  background: var(--color_background);
}

/* LISTS */
.ya-list > li {
  padding-left: 40px;
}

.ya-list > li > a:hover {
  cursor: pointer;
  color: var(--color_desaturated);
}

.ya-ul-list {
  list-style-type: inherit;
}

.ya-ol-list {
  list-style-type: decimal-leading-zero;
}

.ya-ol-list-anchor > li {
  list-style-type: lower-alpha;
}

.ya-ul-list_linked li,
.ya-ul-list-anchor li {
  list-style: none;
}

.ya-ul-list_linked,
.ya-ul-list-anchor,
.ya-ol-list_linked,
.ya-ol-list-anchor {
  color: var(--color_main);
}

.ya-ul-list-anchor > li::before {
  content: "⇁"; /* Insert content that looks like bullets */
  padding-right: 8px;
}

.ya-ul-list_linked > li::before {
  content: "•"; /* Insert content that looks like bullets */
  padding-right: 8px;
}

.ya-list-small {
  font-size: calc(var(--base_font-size) - 4px);
}

/* LINKS */
.ya-link {
  text-decoration: none;
  color: var(--color_main);
}

.ya-link:hover {
  color: var(--color_desaturated);
}

.ya-primary-link::before {
  content: "⇁"; /* Insert content that looks like bullets */
  padding-right: 8px;
}

/* ICONS */
/* MUTED */

/* BREADCRUMBS */
.ya-breadcrumbs {
  text-decoration: none;
  color: var(--color_complementary);
  font-size: calc(var(--base_font-size) - 4px);
}

.ya-breadcrumbs:hover {
  color: var(--color_desaturated);
}
