:root {
  /* COLORS */
  --color_main: #5c80bc;
  --color_secondary: #cdd1c4;
  --color_tertiary: #4d5061;
  --color_complementary: #e8c547;
  --color_desaturated: #30323d;
  --color_background: #fff;

  /* FONT FAMILIES */
  --header_font-family: Monospace, sans-serif;
  --text_font-family: Arial, sans-serif;
  /* FONT SIZES */
  --base_font-size: 16px;
  --h1_font-size: 2em;
  --h2_font-size: 1.5em;
  --h3_font-size: 1.17em;
  --h4_font-size: 1em;
  --h5_font-size: 0.83em;
  --h6_font-size: 0.67em;
}

/* HEADERS */
.ya-header,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -1px;
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: var(--header_font-family);
}

h1,
.ya-header_one {
  font-size: var(--h1_font-size);
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2,
.ya-header_two {
  font-size: var(--h2_font-size);
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h3,
.ya-header_three {
  font-size: var(--h3_font-size);
  margin-top: 1em;
  margin-bottom: 1em;
}

h4,
.ya-header_four {
  font-size: var(--h4_font-size);
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5,
.ya-header_five {
  font-size: var(--h5_font-size);
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

h6,
.ya-header_six {
  font-size: var(--h6_font-size);
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

/* TYPOGRAPHY */
.ya-small-text {
  font-size: calc(var(--base_font-size) - 4px);
}
.ya-base-text {
  font-size: var(--base_font-size);
}
.ya-medium-text {
  font-size: calc(var(--base_font-size) + 2px);
}
.ya-large-text {
  font-size: calc(var(--base_font-size) + 4px);
}
.ya-xlarge-text {
  font-size: calc(var(--base_font-size) + 6px);
}
.ya-xxlarge-text {
  font-size: calc(var(--base_font-size) + 8px);
}
.ya-huge-text {
  font-size: calc(var(--base_font-size) * 2);
}

/* BUTTONS */
.ya-button {
  text-decoration: none;
  padding: 12px 10px;
  border: 0.5px solid transparent;
  border-radius: 2px;
}
.ya-button:active {
  color: white;
}
.ya-button:hover {
  background: var(--color_desaturated);
  color: var(--color_background);
  cursor: pointer;
}

.ya-button_primary {
  color: var(--color_background);
  background: var(--color_main);
}
.ya-button_secondary {
  color: var(--color_main);
  background: var(--color_background);
  border-color: var(--color_desaturated);
}
.ya-button_inverted-block {
  color: var(--color_main);
  background: var(--color_background);
}

/* LISTS */
.ya-list > li {
  padding-left: 40px;
}

.ya-list > li > a:hover {
  cursor: pointer;
  color: var(--color_desaturated);
}

.ya-ul-list {
  list-style-type: inherit;
}

.ya-ol-list {
  list-style-type: decimal-leading-zero;
}

.ya-ol-list-anchor > li {
  list-style-type: lower-alpha;
}

.ya-ul-list_linked li,
.ya-ul-list-anchor li {
  list-style: none;
}

.ya-ul-list_linked,
.ya-ul-list-anchor,
.ya-ol-list_linked,
.ya-ol-list-anchor {
  color: var(--color_main);
}

.ya-ul-list-anchor > li::before {
  content: "⇁"; /* Insert content that looks like bullets */
  padding-right: 8px;
}

.ya-ul-list_linked > li::before {
  content: "•"; /* Insert content that looks like bullets */
  padding-right: 8px;
}

.ya-list-small {
  font-size: calc(var(--base_font-size) - 4px);
}

/* LINKS */
.ya-link {
  text-decoration: none;
  color: var(--color_main);
}

.ya-link:hover {
  color: var(--color_desaturated);
}

.ya-primary-link::before {
  content: "⇁"; /* Insert content that looks like bullets */
  padding-right: 8px;
}

/* ICONS */
/* FONT AWESOME IMPORTED */
/* FEATURED ICONS */
.ya-icon_featured {
  cursor: pointer;
  background-color: var(--color_main);
  border-radius: 100%;
  font-size: var(--h4_font-size);
}
.ya-icon_featured:hover {
  background-color: var(--color_complementary);
}

/* BREADCRUMBS */
.ya-breadcrumbs {
  text-decoration: none;
  color: var(--color_complementary);
  font-size: calc(var(--base_font-size) - 4px);
}

.ya-breadcrumbs:hover {
  color: var(--color_desaturated);
}

/* TABLE */
.ya-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color_background);
  background: var(--color_secondary);
}

.ya-table,
.ya-table th,
.ya-table td {
  border: 1px solid var(--color_background);
}

.ya-table th,
.ya-table td {
  padding: 7px;
}

.ya-table th {
  background: var(--color_tertiary);
  color: var(--color_secondary);
}

.ya-table td {
  color: var(--color_tertiary);
}

/* COLORS */
.ya-main-color_background {
  background: var(--color_main);
}

.ya-secondary-color_background {
  background: var(--color_secondary);
}

.ya-tertiary-color_background {
  background: var(--color_tertiary);
  color: var(--color_background);
}

.ya-complementary-color_background {
  background: var(--color_complementary);
}

.ya-desaturated-color_background {
  background: var(--color_desaturated);
  color: var(--color_background);
}

.ya-background-color_background {
  background: var(--color_background);
}

/* HIGHLIGHTS */
.ya-highlight-module {
  padding: 15px;
  width: 70%;
}

.ya-highlight-right {
  background: var(--color_secondary);
  color: var(--color_background);
  text-align: left;
  align-self: flex-end;
}

.ya-highlight-left {
  background: var(--color_complementary);
  text-align: right;
  align-self: flex-start;
}

/* LOGO */
.ya-logo {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 331px 275px;
  height: 300px;
  width: 300px;
}

.ya-logo_full {
  background-image: url(https://docs.joomla.org/images/5/53/Vertical-logo-light-background-en.png);
}

.ya-logo_negative {
  background-image: url(https://docs.joomla.org/images/8/8d/Vertical-logo-dark-background-en.png);
}

.ya-logo_two-colors {
  background-image: url(https://docs.joomla.org/images/5/51/Joomla-3D-Vertical-logo-dark-background-en.png);
}

.ya-logo_grey {
  background-image: url(https://docs.joomla.org/images/b/bf/Joomla-Mono-Vertical-logo-dark-background-en.png);
}
.ya-logo_black {
  background-image: url(https://docs.joomla.org/images/e/ea/Joomla-Mono-Vertical-logo-light-background-en.png);
}
