#root {
  font-family: sans-serif;
}

#root > div {
  display: flex;
}

#root > div > section:first-child {
  background: var(--primaryColor);
  display: flex;
  flex-direction: column;
}

#root > div:first-child > section > h1 {
  margin: 20px 20px 0;
  color: white;
  font-size: 48px;
}

#root > div:first-child > section > ol {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#root > div:first-child > section > ol > a {
  padding: 1px 20px;
  text-decoration: none;
  color: white;
  width: 200px;
  cursor: pointer;
}

#root > div:first-child > section > ol > a:hover {
  background: var(--secondaryColor);
}

#root > div:first-child > section > ol > a > li {
  list-style-type: decimal-leading-zero;
  margin: 10px;
}
