.sgcreator-categories_section {
  display: flex;
  grid-area: categories;
  background: #5c80bc;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1150.01px) {
  .sgcreator-categories_section {
    width: 200px;
    height: auto;
    flex-wrap: no-wrap;
  }
}

.sgcreator-categories_section a {
  text-decoration: none;
}

.sgcreator-categories_section > a {
  text-align: center;
}

.sgcreator-categories_logo {
  height: 80px;
  width: 80px;
  background: #fff
    url(https://docs.joomla.org/images/5/53/Vertical-logo-light-background-en.png)
    no-repeat center;
  background-size: 100px;
  margin: 10px auto;
  border-radius: 100%;
  text-indent: -9999px;
}

@media only screen and (min-width: 1150.01px) {
  .sgcreator-categories_logo {
    height: 150px;
    width: 150px;
    background-size: 170px;
  }
}

.sgcreator-categories_header {
  font-family: "Courier New", monospace;
  margin: 10px 0 12px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  line-height: 20px;
}

@media only screen and (min-width: 1150.01px) {
  .sgcreator-categories_header {
    margin-top: 20px;
    font-size: 34px;
    line-height: 30px;
  }
}

.sgcreator-categories_list {
  display: none;
}

@media only screen and (min-width: 1150.01px) {
  .sgcreator-categories_list {
    display: flex;
    flex-wrap: no-wrap;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (min-width: 1150.01px) {
  .sgcreator-categories_select {
    display: none;
  }
}

.sgcreator-categories-list_item {
  display: inline-block;
  color: #fff;
  padding: 0.5rem 1.2rem;
  text-align: center;
}

@media only screen and (min-width: 480.01px) {
  .sgcreator-categories-list_item {
    cursor: pointer;
    padding: 0.5rem 0;
    text-align: center;
  }
}

@media only screen and (min-width: 1150.01px) {
  .sgcreator-categories-list_item {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1.7rem;
    text-align: start;
  }

  .sgcreator-categories-list_item:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 #5c80bc);
    color: black;
    font-weight: 900;
  }
}

.enabled {
  display: block;
}

.disabled {
  display: none;
}

@media only screen and (min-width: 480.01px) {
  .enabled,
  .disabled {
    display: inline-block;
  }
}

/* 
P
// 480px
M
//767px
G
//1023 
XG
*/
