.sgcreator-categories_section {
  display: flex;
  grid-area: categories;
  background: #5c80bc;
  height: 170px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sgcreator-categories_section a {
  text-decoration: none;
}

.sgcreator-categories_section > a {
  text-align: center;
}

.sgcreator-categories_logo {
  height: 80px;
  width: 80px;
  background: #fff
    url(https://docs.joomla.org/images/5/53/Vertical-logo-light-background-en.png)
    no-repeat center;
  background-size: 100px;
  margin: 10px auto;
  border-radius: 100%;
  text-indent: -9999px;
}

.sgcreator-categories_header {
  font-family: "Courier New", monospace;
  margin: 10px 0 12px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  line-height: 20px;
}

.sgcreator-categories_list {
  box-sizing: border-box;
  overflow: hidden;
  height: 34px;
  width: 80%;
  margin: 0 auto;
}
.sgcreator-categories-list_arrow {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  height: 34px;
  padding: 0.5rem 0.8rem;
  bottom: 4px;
}

.sgcreator-categories-list_arrow_left {
  left: 5px;
}
.sgcreator-categories-list_arrow_right {
  right: 5px;
}

.sgcreator-categories-list_item {
  display: block;
  color: #fff;
  padding: 0.5rem 1.2rem;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (min-width: 1023.01px) {
  .sgcreator-categories_section {
    height: 100%;
    width: 200px;
    align-items: center;
  }

  /* ROUNDED LOGO */
  .sgcreator-categories_logo {
    height: 150px;
    width: 150px;
    background-size: 170px;
  }

  /* CATEGORIES SECTION TITLE */
  .sgcreator-categories_header {
    margin-top: 20px;
    font-size: 34px;
    line-height: 30px;
  }

  .sgcreator-categories_list {
    width: 100%;
    height: auto;
  }

  .sgcreator-categories-list_arrow {
    display: none;
  }

  /* CATEGORIES SECTION LINK */
  .sgcreator-categories-list_item {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1.7rem;
    text-align: start;
  }

  .sgcreator-categories-list_item:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 #5c80bc);
    color: black;
    font-weight: 900;
  }
}

/* 
P
// 480px
M
//767px
G
//1023 
XG
*/
