/* LIST SECTION */
.sgcreator-categories_section {
  grid-area: categories;
  background: var(--color_main);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sgcreator-categories_section > a {
  text-align: center;
}

.sgcreator-categories_section > a > div {
  align-self: center;
  background-size: 200px;
  background-position-x: center;
  background-color: var(--color_background);
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 15px auto -20px;
  border: 2px solid var(--color_background);
}

/* LIST SECTION TITLE */
.sgcreator-category_header {
  font-family: var(--header_font-family);
  margin: 20px 20px 0;
  color: var(--color_background);
  font-size: 48px;
  cursor: pointer;
}

.sgcreator-categories_section a {
  text-decoration: none;
} /* Removes Link and a underlines */

/* LIST SECTION LIST */
.sgcreator-categories_list {
  display: flex;
  flex-direction: column;
  width: 400px;
}

/* LIST SECTION LINK */
.sgcreator-categories_section > ol > a {
  padding: 1px 20px;
  color: #fff;
  width: 200px;
  cursor: pointer;
}

/* LIST SECTION LINK:HOVER */
.sgcreator-categories_section > ol > a:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 var(--color_main));
  font-weight: 900;
  color: black;
}

/* LIST SECTION LINK ELEMENT */
.sgcreator-categories_section > ol > a > li {
  list-style-type: decimal-leading-zero;
  margin: 10px;
}
