.sgcreator-css-box {
  text-align: left;
  font-family: monospace;
  position: relative;
  padding: 10px 2px;
}

.sgcreator-css-box .sgcreator-selector {
  background: transparent;
  z-index: 9999;
  left: 10px;
  position: absolute;
}

.sgcreator-css-box .sgcreator-selector_open {
  top: 3px;
}

.sgcreator-css-box .sgcreator-selector_close {
  bottom: 5px;
}

.CodeMirror {
  height: auto;
  padding: 20px;
  width: 91%;
  border: 1px solid #ccc;
  transition: border ease-in-out 0.3s;
}

.CodeMirror-scroll {
  overflow: visible !important;
}

.CodeMirror-focused {
  border: 1px solid var(--color_main);
}
