.sgcreator-download {
  box-sizing: border-box;
  padding: 10px 0;
  font-family: Arial, sans-serif;
  position: absolute;
  right: 5px;
}

.sgcreator-download a {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 11px;
  font-weight: 500;
  outline: none;
  background: #4d5061;
  color: #eee;
  padding: 0.7rem 0.5rem;
}

.sgcreator-download a:hover {
  background: #fff;
  color: #4d5061;
}

.sgcreator-download a:active {
  background: #4d5061;
  color: #eee;
}

@media only screen and (min-width: 1023.01px) {
  .sgcreator-download {
    position: static;
  }

  .sgcreator-download a {
    font-size: 15px;
  }
}
/* 
P
// 480px
M
//767px
G
//1023 
XG
*/
