.sgcreator-download {
  box-sizing: border-box;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}

.sgcreator-download a {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  background: #4d5061;
  color: #eee;
  padding: 0.7rem 0.5rem;
}

.sgcreator-download a:hover {
  background: #fff;
  color: #4d5061;
}

.sgcreator-download a:active {
  background: #4d5061;
  color: #eee;
}
