.highlight-module {
  padding: 15px;
  width: 70%;
}

.highlight-right {
  background: var(--color_secondary);
  color: var(--color_background);
  text-align: left;
  align-self: flex-end;
}

.highlight-left {
  background: var(--color_complementary);
  text-align: right;
  align-self: flex-start;
}
