/* VISUAL REPRESENTATION SECTION */
.sgcreator-representation_section {
  grid-area: representation;
  text-align: center;
  margin: 10px auto;
  position: relative;
}

.sgcreator-representation_section h1,
.sgcreator-representation_section h2 {
  font-family: "Courier New", monospace;
}

/* VISUAL REPRESENTATION SECTION BOXES */
/* SAMPLE BOX */
.sgcreator-item-box {
  padding: 5px 0;
}

.sgcreator-sample-box {
  background: #fff;
}

.sgcreator-sample-box p {
  margin-bottom: 0;
}

/* TAG BOX */
.sgcreator-tag-box {
  padding: 7px 9px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.1);
  text-align: start;
}

/* FORM ERROR MESSAGE */
.sgcreator-error_message {
  position: absolute;
  float: right;
  color: tomato;
}

.sgcreator-item-box_lists {
  text-align: start;
}

.sgcreator-item-box_lists .sgcreator-sample-box {
  list-style-position: inside;
}

/* 
P
// 480px
M
//767px
G
//1023 
XG
*/
