/* VISUAL REPRESENTATION SECTION */
.sgcreator-representation_section {
  grid-area: representation;
  text-align: center;
  margin: 10px auto;
  position: relative;
}

.sgcreator-representation_section h1,
.sgcreator-representation_section h2 {
  font-family: "Courier New", monospace;
}

/* SAMPLE BOX */
.sgcreator-item-box {
  margin: 0 5px;
  /* background: lightgoldenrodyellow; */
  width: 380.01px;
  max-width: 90%;
}

@media only screen and (min-width: 480.01px) {
  .sgcreator-item-box {
    width: 667.01px;
    /* //background: tomato; */
    max-width: 90%;
  }
}

@media only screen and (min-width: 767.01px) {
  .sgcreator-item-box {
    width: 1050.01px;
    /* //background: lightgreen; */
    max-width: 90%;
  }
}

@media only screen and (min-width: 1150.01px) {
  .sgcreator-item-box {
    min-width: 1050.01px;
    /* background: lightcyan; */
    max-width: 90%;
  }
}

.sgcreator-sample-box {
  background: #fff;
}

.sgcreator-sample-box p {
  margin-bottom: 0;
}

/* TAG BOX */
.sgcreator-tag-box {
  padding: 7px 9px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.1);
  text-align: start;
}

/* FORM ERROR MESSAGE */
.sgcreator-error_message {
  position: absolute;
  float: right;
  color: tomato;
}

.sgcreator-item-box_lists {
  text-align: start;
}

.sgcreator-item-box_lists .sgcreator-sample-box {
  list-style-position: inside;
}

/* 
P
// 480px
M
//767px
G
//1023 
XG
*/
