.sgcreator-css-box {
  text-align: left;
  background: transparent;
  font-family: monospace;
}

.sgcreator-css-box .sgcreator-selector {
  position: relative;
  background: transparent;
}

.sgcreator-css-box .sgcreator-selector_open {
  top: 13px;
  background: transparent;
}

.sgcreator-css-box .sgcreator-selector_close {
  bottom: 13px;
  background: transparent;
}

.CodeMirror {
  height: auto;
  padding-left: 10px;
}
