/* TYPOGRAPHY */
.ya-small-text {
  font-size: calc(var(--base_font-size) - 4px);
}
.ya-base-text {
  font-size: var(--base_font-size);
}
.ya-medium-text {
  font-size: calc(var(--base_font-size) + 2px);
}
.ya-large-text {
  font-size: calc(var(--base_font-size) + 4px);
}
.ya-xlarge-text {
  font-size: calc(var(--base_font-size) + 6px);
}
.ya-xxlarge-text {
  font-size: calc(var(--base_font-size) + 8px);
}
.ya-huge-text {
  font-size: calc(var(--base_font-size) * 2);
}
