.sgcreator-sample-box {
  padding-bottom: 0;
}

.sgcreator-item-box_lists {
  text-align: start;
}

.sgcreator-item-box_lists .sgcreator-sample-box {
  list-style-position: inside;
}

.sgcreator-item-box_lists .sgcreator-tag-box {
  padding-left: 20px;
}
