/* APPLIED TO BUTTONS */
.sgcreator-item-box_buttons .sgcreator-sample-box {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  padding: 5px 0;
  width: 100%;
}

.sgcreator-item-box_buttons .sgcreator-sample-box > a {
  float: none;
  display: inline-block;
}

.sgcreator-item-box_buttons[itemID="2"] .sgcreator-sample-box {
  background: rgba(0, 0, 0, 0.2);
}
